/*--------------------------------- GLOBAL --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    /* border: 0.2px solid grey; */
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #222;
    color: white;
}

nav {
    background: linear-gradient(to right, #FEC816, #FF540B);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1.75rem;
    font-size: 1.5rem;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
    text-align: center;
    z-index: 10;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #222;
}

.menu {
    font-size: 2.5rem;
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}




/*--------------------------------- HERO --------------------------------- */

.hero-wrapper {
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* background-color: #1B1A55;  */
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text_CTA h1 {
    padding-left: 1rem;
}

.CTA {
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 1.25rem;
    background-color: #fdc425;
    transition: all 0.2s ease-out;
    color: white;
    font-weight: bold;
    border: none;
    margin-right: 5rem;
}

.CTA:hover {
    background-color: #ffe923;
    transform: scale(1.05);
    color: #222;
    box-shadow: 0 5px 10px 3px #ffc91650;
}

.hero-text {
    font-size: 1.25em;
    padding-right: 4rem;

}


.hero-text_CTA {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
}


.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image img {
    max-width: 90%;
    height: auto;
    padding: 1.5rem;
}


.hero-text p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #FEC816
}

/*--------------------------------- PROJECTS --------------------------------- */
.projects-wrapper {
  padding: 4rem 2rem;
  background-color: #1B1A55; /* matches hero palette */
  color: white;
  text-align: center;
}

.section-title {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #FEC816;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 0 2rem;
}

.project-card {
  background-color: #222;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  border: 2px solid #fdc425;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  max-width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #FEC816;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project-link {
    display: inline-block;
    padding: 0.5rem 1rem;
  background-color: #fdc425;
  color: #222;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background 0.3s ease;
}

.project-link:hover {
    background-color: #ffe923;
}



/*--------------------------------- CERTIFICATIONS --------------------------------- */
.certifications-wrapper {
    background-color: #222;
    color: white;
    text-align: center;
}

.certificates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 0 2rem;
}

.certificate-card {
  border: 2px solid #fdc425;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  text-align: left;
}

.certificate-card:hover {
  transform: translateY(-5px);
}

.certificate-card h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #FEC816;
}

.issuer {
  font-size: 0.95rem;
  margin-bottom: 0.75rem;
  color: #ccc;
}

.issuer strong {
  color: #FEC816;
}

.cert-date {
  font-size: 0.9rem;
  margin-bottom: 1.25rem;
  color: #999;
}

.cert-link {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  background-color: #fdc425;
  color: #222;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background 0.3s ease;
  font-weight: 500;
}

.cert-link:hover {
  background-color: #ffe923;
}



/*--------------------------------- ABOUT --------------------------------- */
.about-wrapper {
  padding: 0 2rem;
  background-color: #222;
  color: white;
  text-align: left;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 1.1rem;
}

.about-content strong {
  color: #FEC816;
}

.about-content p {
    padding: 0.5rem 0;
}





/*--------------------------------- UTILS --------------------------------- */
/*---------------- spr8 ----------------*/
#spr8 {
    width: 85%;
    height: 0.5rem;
    background-color: white;
    margin: auto;
    border-radius: 1rem;
    margin: 5rem auto;
}



/*--------------------------------- TIMELINE --------------------------------- */
.timeline-wrapper {
  color: white;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  margin-top: 2rem;
  margin: auto;
  width: fit-content;
}

.timeline::before {         /* timeline left line */
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #FEC816;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  position: relative;
  width: 100%;
  margin: auto;
}



.timeline-content {
  background-color: #222;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.timeline-content h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #fdc425;
}

.timeline-content p {
  font-size: 1rem;
  line-height: 1.6;
}

.timeline-year {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FEC816;
  padding-bottom: 10px;
  display: inline-block;
}

.timeline-year::after {
  content: "";
  position: absolute;
  left: -2rem;
  bottom: 0;
  height: 0.3rem;
  width: 90px;                  /* initial length */
  background-color: #fdc425;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.timeline-item:hover .timeline-year::after {
  width: 108px;
}


/*--------------------------------- CONTACT --------------------------------- */
.contact-wrapper {
  color: white;
  text-align: center;
  padding: 0 1rem  2rem;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.contact-form button {
  background-color: #fdc425;
  color: #222;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #ffe923;
}



/*--------------------------------- FOOTER --------------------------------- */
.footer-wrapper {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
}

.social-links a {
  margin: 0 1rem;
  color: #FEC816;
  text-decoration: none;
  font-weight: bold;
}

.social-links a:hover {
  text-decoration: underline;
}




/*--------------------------------- Media Queries --------------------------------- */

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 66px;
    right: 0;
    background-color: #8b5a21;
    flex-direction: column;
    width: 100%;
    display: none;
    padding: 2rem;
  }
  
  .nav-links.active {
      display: flex;
    }
    
    .menu {
        display: flex;
        font-size: 1.75rem;
    }

    .logo {
        font-size: 1.75rem;
    }

    .hero-section {
        flex-direction: column;
        text-align: center;
    }
    
    .hero-text_CTA {
      align-items: center;
      padding: 1rem;
    }

    .hero-text {
      padding-right: 0;
    }

    .hero-image {
      padding: 1rem;
    }

    .hero-image img {
        padding: 1rem;
    }
      .CTA {
    margin-right: 0;
  }

  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline::before {
    left: 0;
  }

  .timeline-year {
    padding-left: 1rem;
  }

}




@media (min-width: 768px) and (max-width: 1050px) {
    
    .logo {
        font-size: 2rem;
    }

    .nav-links {
      position: absolute;
      top: 66px;
      right: 0;
      background-color: #8b5a21;
      flex-direction: column;
      width: 100%;
      display: none;
      padding: 2rem;
    }

  .nav-links.active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }

  .menu {
    display: block;
    font-size: 2rem;
  }


}
