/*--------------------------------- GLOBAL --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    /* border: 0.2px solid grey; */
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #222;
    color: white;
}

nav {
    background: linear-gradient(to right, #FEC816, #FF540B);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1.75rem;
    font-size: 1.5rem;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
    text-align: center;
    z-index: 10;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #222;
}

.menu {
    font-size: 2.5rem;
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}



/*--------------------------------- Media Queries --------------------------------- */

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 66px;
    right: 0;
    background-color: #555;
    flex-direction: column;
    width: 100%;
    display: none;
    padding: 2rem;
  }
  
  .nav-links.active {
      display: flex;
    }
    
    .menu {
        display: flex;
        font-size: 1.75rem;
    }

    .logo {
        font-size: 1.75rem;
    }
}

@media (min-width: 768px) and (max-width: 1050px) {
    
    .logo {
        font-size: 2rem;
    }

    .nav-links {
      position: absolute;
      top: 66px;
      right: 0;
      background-color: #555;
      flex-direction: column;
      width: 100%;
      display: none;
      padding: 2rem;
    }

  .nav-links.active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }

  .menu {
    display: block;
    font-size: 2rem;
  }
}
