/*--------------------------------- GLOBAL --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    /* border: 0.2px solid grey; */
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #222;
    color: white;
}

nav {
    background: linear-gradient(to right, #FEC816, #FF540B);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1.75rem;
    font-size: 1.5rem;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
    text-align: center;
    z-index: 10;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #222;
}

.menu {
    font-size: 2.5rem;
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}




/*--------------------------------- HERO --------------------------------- */

.hero-wrapper {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* background-color: #1B1A55;  */
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text_CTA h1 {
    padding-left: 1rem;
}

.CTA {
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 1.25rem;
    background-color: #fdc425;
    transition: all 0.2s ease-out;
    color: white;
    font-weight: bold;
    border: none;
    margin-right: 5rem;
}

.CTA:hover {
    background-color: #ffe923;
    transform: scale(1.05);
    color: #222;
    box-shadow: 0 5px 10px 3px #ffc91650;
}

.hero-text {
    font-size: 1.25em;
    padding-right: 4rem;

}


.hero-text_CTA {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
}


.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image img {
    max-width: 90%;
    height: auto;
    padding: 1.5rem;
}


.hero-text p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #FEC816
}




















/*--------------------------------- Media Queries --------------------------------- */

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 66px;
    right: 0;
    background-color: #8b5a21;
    flex-direction: column;
    width: 100%;
    display: none;
    padding: 2rem;
  }
  
  .nav-links.active {
      display: flex;
    }
    
    .menu {
        display: flex;
        font-size: 1.75rem;
    }

    .logo {
        font-size: 1.75rem;
    }

    .hero-section {
        flex-direction: column;
        text-align: center;
    }
    
    .hero-text_CTA {
      align-items: center;
      padding: 1rem;
    }

    .hero-text {
      padding-right: 0;
    }

    .hero-image {
      padding: 1rem;
    }

    .hero-image img {
        padding: 1rem;
    }
      .CTA {
    margin-right: 0;
  }

}




@media (min-width: 768px) and (max-width: 1050px) {
    
    .logo {
        font-size: 2rem;
    }

    .nav-links {
      position: absolute;
      top: 66px;
      right: 0;
      background-color: #8b5a21;
      flex-direction: column;
      width: 100%;
      display: none;
      padding: 2rem;
    }

  .nav-links.active {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }

  .menu {
    display: block;
    font-size: 2rem;
  }


}
